<%- layout('layout/boilerplate') %>
    <div class="row">

        <% if( !req.user.cart) { %>
            <div id="alert" class="alert alert-warning mt-5 alert-dismissible fade show" role="alert">
                <strong class="text-center">
                    You didn`t add any product to your Cart yet
                </strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <% } else { %>


                <div class="col-12 col-md-8">

                    <h5 class="my-3">Cart (<%= cart.products.length %> Items )</h5>

                    <% for(let product of cart.products) { %>

                        <div class="cart__product border p-3 mb-3">
                            <div class="row">
                                <div class="col-3"> <a href="/products/<%=product.item._id  %> "> <img class="img-fluid"
                                            src="<%= product.item.sized || process.env.defaultShoesImage %> "
                                            alt=""></a>
                                </div>
                                <div class="col-6 d-flex flex-column  justify-content-center">
                                    <p class="fs-4">
                                        <%= product.item.name %>
                                    </p>
                                    <p> Size : <span class="fs-5">
                                            <%= product.size %>
                                        </span>
                                    </p>
                                    <p> color : <span class="fs-5">
                                            <%= product.color %>
                                        </span>
                                    </p>
                                    <form action="/cart" method="POST">
                                        <input type="hidden" name="cartId" value="<%= cart._id %>">
                                        <input type="hidden" name="item" value="<%= product.item._id %>">
                                        <input type="hidden" name="cartQty" value="<%= product.cartQty %>">
                                        <input type="hidden" name="discount" value="<%= product.discount %>">
                                        <input type="hidden" name="price" value="<%= product.price %>">
                                        <input type="hidden" name="color" value="<%= product.color %>">
                                        <input type="hidden" name="size" value="<%= product.size %>">
                                        <button class="btn btn-outline-danger"> <i class="bi bi-trash fs-5"> </i>
                                            Remove </button>

                                    </form>
                                </div>
                                <div class="col-3 d-flex flex-column align-items-end justify-content-evenly">
                                    <div
                                        class="product-price   d-flex flex-column align-items-end justify-content-start">
                                        <p class="fs-5 text-danger d-inline-block " style="margin-bottom: 5px;">
                                            <%= product.price %> EGP
                                        </p>

                                        <% if(product.item.promotion && product.item.promotion.active) { %>
                                            <span class="badge p-2  d-inline-block   bg-success ms-auto ">Discout :
                                                ON</span>

                                            <% } %>
                                    </div>
                                    <button class="btn w-50  btn-outline-dark">
                                        <%= product.cartQty %>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <% } %>
                </div>
                <div class="col-12 col-md-4 mt-2">
                    <form method="POST" action="/cart/<%= cart._id %> " class="my-5 p-3 border cart-checkout">
                        <b>Order Summary</b>
                        <div class="subtotal d-flex justify-content-between">
                            <p class=" mb-0">Subtotal <span style="font-size: smaller;" class="fw-lighter text-muted"> (
                                    <%= cart.products.length %>
                                        items
                                        )
                                </span>
                            </p>
                            <span class=" me-3">
                                <%= cart.products.length && cart.products.map(item => +item.price ).reduce((total,price)=>total+price) -+( cart.products.length && cart.products.map(item => +item.discount ).reduce((total,price)=>total+price)) %> EGP
                            </span>
                        </div>
                        <div class="  d-flex justify-content-between total-discount">
                            <p>Discount 
                            </p>
                            <span class="me-3">
                                <%= cart.products.length && cart.products.map(item => +item.discount ).reduce((total,price)=>total+price) %>EGP
                            </span>
                        </div>
                        <hr>
                        <div class="cart-total d-flex justify-content-between">
                            <p class="fs-4">Total
                            </p>
                            <b class="text-success fs-4 me-5">
                                <%= cart.products.length && cart.products.map(item => +item.price ).reduce((total,price)=>total+price) %>EGP
                            </b>
                        </div>

                        <button class="btn w-100 btn-success bold fw-bolder">CHECKOUT</button>
                    </form>
                </div>
    </div>
    <% } %>