<nav class="bg-light">
    <div class="container   border-bottom container-1 ">

        <a class="navbar-brand" href="/">A-Shop</a>


        <div class="nav__icons hide-me ">
            <div class="nav-child-divs">
                <button class="langBTN"><i data-returnTo='<%= req.originalUrl %>' class="fas fa-language ">
                        <%= lang==='en' ? 'العربية' : 'English' %>
                    </i> </button>
            </div>
            <% if( !currentUser) { %>
                <div class="nav-child-divs"> <a href="/register" class="nav__icons nav-link btn btn-outline-dark">
                        <%= lang==='en' ? 'Sign Up' : 'انشاء حساب' %>
                    </a></div>
                <div class="nav-child-divs"> <a href="/login" class="nav__icons nav-link btn btn-outline-dark ">
                        <%= lang==='en' ? 'Login' : 'دخول' %>
                    </a>


                    <% } else { %>
                        <div class="profile-div nav-child-divs">
                            <span>
                                <%= lang==='en' ? 'Hi' : null %>
                                    <%= currentUser ? currentUser.username :null %>
                                        <span dir="rtl">
                                            <%= lang==='ar' ? 'اهلا' :null %>
                                        </span>
                            </span>
                            <a href="" class="">

                                <i class="bi bi-person nav__icons"></i></a>
                        </div>
                        <div class="cart-div"> <a href="/cart" class=""> <i class="bi bi-cart2 nav__icons">
                                    <span class="cart-items-numbers">
                                        <%= userInfo.cart && userInfo.cart.products.length>= 1 ?
                                            userInfo.cart.products.length :
                                            null %>
                                    </span> </i></a></div>

                        <div class="nav-child-divs">
                            <a href="/logout" class="nav__icons btn btn-outline-dark nav-link btn btn-outline-dark ">
                                <%= lang==='en' ? 'Logout' : 'خروج' %>
                            </a>
                            <% } %>
                        </div>
                </div>
                <a class="nav__icons toggole">
                    <i class="bi bi-toggles2"></i>
                </a>

        </div>
    </div>

    <% if (lang==='en' ) { %>
        <div class="container nav__icons container-2  hide-me">
            <a href="/products" class="nav-link ">home</a>
            <a href="" class="nav-link ">about</a>
            <a href="" class="nav-link ">contact</a>

        </div>
        <% } else{ %>

            <div class="container nav__icons container-2  hide-me" dir="rtl">
                <a href="/products" class="nav-link ">الصفحة الرئيسة</a>
                <a href="" class="nav-link ">من نحن</a>
                <a href="" class="nav-link ">تواصل معنا</a>

            </div>
            <% } %>


                <div class="container md-screen">
                    <div class="md-screen__top">
                        <div class="nav__icons ">

                            <div class="nav-child-divs">
                                <button class="langBTN"><i data-returnTo='<%= req.originalUrl %>'
                                        class="fas fa-language ">
                                        <%= lang==='en' ? 'العربية' : 'English' %>
                                    </i> </button>
                            </div>
                            <% if(!currentUser) { %>
                                <a href="/register" class="nav__icons nav-link btn btn-outline-dark"> Sign Up </a>
                                <a href="/login" class="nav__icons nav-link btn btn-outline-dark "> login </a>
                                <% } else { %>
                                    <div class="profile-div nav-child-divs">
                                        <span>
                                            <%= lang==='en' ? 'Hi' : null %>
                                                <%= currentUser ? currentUser.username :null %>
                                                    <span dir="rtl">
                                                        <%= lang==='ar' ? 'اهلا' :null %>
                                                    </span>
                                        </span>
                                        <a href="" class="">

                                            <i class="bi bi-person nav__icons"></i></a>
                                    </div>
                                    <div class="cart-div"> <a href="/cart" class=""> <i class="bi bi-cart2 nav__icons">
                                                <span class="cart-items-numbers">
                                                    <%= userInfo.cart && userInfo.cart.products.length>= 1 ?
                                                        userInfo.cart.products.length :
                                                        null %>
                                                </span> </i></a>
                                    </div>
                                    <div class="nav-child-divs">
                                        <a href="/logout" class="nav__icons btn  nav-link btn btn-outline-dark ">
                                            <%= lang==='en' ? 'Logout' : 'خروج' %>
                                        </a>
                                    </div>
                                    <% } %>
                        </div>
                    </div>
                    <% if(lang==='en' ) { %>
                        <div class="md-screen__links p-3  ">
                            <a href="" class="nav-link btn  ">home</a>
                            <a href="" class="nav-link btn border-top border-bottom  my-2">about</a>
                            <a href="" class="nav-link btn  ">contact</a>
                        </div>
                        <% } else { %>
                            <div class="md-screen__links p-3  " dir="rtl">
                                <a href="/products" class="nav-link ">الصفحة الرئيسة</a>
                                <a href="" class="nav-link border-top border-bottom  my-2 ">من نحن</a>
                                <a href="" class="nav-link ">تواصل معنا</a>
                            </div>
                            <% } %>
                </div>


</nav>







</div>

</nav>

<script>
    const button = document.querySelectorAll('.langBTN')

    const changeLang = async () => {


        const response = await fetch('/setLang', {
            method: 'POST', // *GET, POST, PUT, DELETE, etc.
            // mode: 'cors', // no-cors, *cors, same-origin
            // cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
            // credentials: 'same-origin', // include, *same-origin, omit
            headers: {
                'Content-Type': 'application/json'
                // 'Content-Type': 'application/x-www-form-urlencoded',
            },

        });
        window.location.reload(true)

    }
    console.log(button)

    for (let btn of button) {
        console.log(btn)
        btn.addEventListener('click', (changeLang))
    }
</script>